body {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #17252A;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header{
  color: white;
}

.container {
  max-width: 600px;
  width: 90%;
}

.textAreaStyle {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  resize: none;
}

.buttonStyle {
  /* display: block; */
  /* margin: 0 auto; */
  justify-content: space-between;
  margin-right: 10px;
  border: 2px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.buttonStyle:hover{
  background-color: #353f3f;
  color: #ffffff;
}
